html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 62.5% !important;
    overflow-y: overlay;
    overflow-x: hidden;
    scroll-behavior: smooth;

}



.bg-theme_1 {
    background: #d96b388c;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #116485 #f2f2f2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
    background-color: #116485;
    border-radius: 10px;
    border: 2px solid #116485;
}

:root {
    --switches-bg-color: #d2f7f4;
    --switches-label-color: #999999;
    --switch-bg-color: #012072;
    --switch-text-color: #105780
}

.nav_header>img {
    width: 16rem;
}
.techQ{
    display: inline-block;
    background: rgb(217,89,60);
    background: linear-gradient(122deg, rgba(217,89,60,1) 17%, rgba(217,120,53,1) 50%);
    color: white;
    padding: 1.2rem 3rem;
    border-radius: 41px;
    position: fixed;
    left: -1%;
    z-index: 999999999;
    top: 50rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.techQ:hover{
    filter: drop-shadow(1px 2px 4px black);
    transform: scaleX(1.05);
    transition: 0.2s ease-in-out;
}
.techQ > a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: system-ui;
    color: white;
}
.non_techQ{
    display: inline-block;
    background: rgb(217,89,60);
    background: linear-gradient(122deg, rgba(217,89,60,1) 17%, rgba(217,120,53,1) 50%);
    color: white;
    padding: 1.2rem 3rem;
    position: fixed;
    border-radius: 41px;
    left: -1%;
    z-index: 999999999;
    top: 55rem;
}
.non_techQ:hover{
    filter: drop-shadow(1px 2px 4px black);
    transform: scaleX(1.05);
    transition: 0.2s ease-in-out;
}
.non_techQ > a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: system-ui;
    color: white;
}


.shade {
    background: #fefeffdb !important;
    box-shadow: 0px 0px 7px 0px #b9b9b9;
    border-bottom: 1px solid #eceef36b;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999999;
    transition: 0.2s;

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(17 100 133);
}

.mid-nav ul li {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--switch-text-color);
    cursor: pointer;
    margin-right: 4rem;
}

.small-blb>img {
    cursor: pointer;
    margin-top: -1rem;
    width: 70%;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        filter: drop-shadow(0px 0px 0px #d97436);
    }

    to {

        filter: drop-shadow(0px -1px 4px #d97436);
    }
}

/* crousal css */
.owl-theme .owl-dots .owl-dot.active span {
    width: 13px;
    height: 13px;
    background-color: #d97835;
    border-radius: 50%;
    margin-right: 7px;
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    background-color: #d97835;
    opacity: .5;
    border-radius: 50%;
    margin-right: 7px;
}

.banner>.owl-theme .owl-dots .owl-dot.active span {
    width: 13px;
    height: 13px;
    background-color: #d97835;
    border-radius: 50%;
    margin-right: 7px;
    opacity: 1;
}

.banner>.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    background-color: #d97835;
    opacity: .5;
    border-radius: 50%;
    margin-right: 7px;
}

.banner>.owl-theme .owl-dots {
    position: absolute;
    bottom: 9%;
    display: flex;
    justify-content: center;
    /* right: 50%; */
    z-index: 99;
    width: 100%;
}


.banner>.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
    filter: drop-shadow(2px 4px 2px gray);
    transform: translateY(-5px);
    transition: 0.2s ease;
}

.banner>.owl-theme .owl-nav [class*=owl-] {
    transition: 0.1s ease;
}

.banner>.owl-theme .owl-nav {
    position: absolute;
    margin-top: 10px;
    bottom: 30%;
    left: 9.5%;
}


.next-btn {
    width: 6rem;
}

.item>h1 {
    color: #116486;
    font-size: 4rem;
    position: absolute;
    z-index: 9;
    top: 30%;
    font-weight: 400;
    left: 11%;
}

.bulb-img {
    height: calc(100vh - 56px);
    position: absolute;
    z-index: 9;
    top: 0;
    width: 100%;
}

.bulb-img>img {
    top: 14.5%;
    right: 12%;
    width: 19.5%;
    position: absolute;

}

/* our work */

.our_work,
.case_study {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}

.case_st_right {
    background: rgb(245, 252, 251);
    background: linear-gradient(57deg, rgba(245, 252, 251, 1) 44%, rgba(252, 218, 139, 1) 90%);
    padding: 3rem 1.5rem 0rem 3.5rem;
    height: 100%;


}

.case_st_right>img {
    width: 92%;
    margin-left: auto;
}

.first_tech {
    margin-top: 3rem;
    position: relative;
    width: 14.5%;
    padding: 1.3rem 1rem 0 1rem;
    background: rgb(229, 236, 238);
    background: linear-gradient(45deg, rgba(229, 236, 238, 1) 39%, rgba(240, 233, 227, 1) 95%);
}

.first_tech>p:first-child {
    font-size: 1.2rem;
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1.3rem;
}

.first_tech>p:nth-child(2) {
margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.first_tech>img {
    width: 31%;
    margin-top: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

.first_tech img~p {
    font-size: 1rem;
    color: black;
    font-weight: 500;
    text-align: center;
}

.list_tech {
    margin-left: 1rem;
    margin-top: 3rem;
    width: 65%;
    /* text-align: center; */
    padding: 1.3rem 1.3rem 0 1.3rem;
    background: rgb(229, 236, 238);
    background: linear-gradient(45deg, rgba(229, 236, 238, 1) 39%, rgba(240, 233, 227, 1) 95%);
}

.list_tech>p {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-left: 0rem;
    line-height: 1.3rem;
}

.tech-box {
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
}

.tech-img_1 {
    width: 21%;
    height: fit-content;
    margin-right: 1rem;

}

.tech-img_2 {
    width: 10%;
    height: fit-content;
    margin-right: 0rem;

}

.tech-img_3 {
    width: 10.5%;
    height: fit-content;
    margin-right: 1rem;
    margin-top: -0.4rem;

}

.tech-img_4 {
    width: 11%;
    height: fit-content;
    margin-right: 1rem;
    margin-top: -0.8rem;

}

.tech-img_5 {
    width: 35%;
    height: fit-content;

}

.busines-tech {
    margin-left: 1rem;
    margin-top: 3rem;
    position: relative;
    width: 15.5%;
    padding: 1.3rem 1rem 0 1rem;
    background: rgb(229, 236, 238);
    background: linear-gradient(45deg, rgba(229, 236, 238, 1) 39%, rgba(240, 233, 227, 1) 95%);
}

.busines-tech>p:first-child {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 0;
}

.busines-tech>p:nth-child(2) {
    font-size: 1.3rem;
}

.busines-tech>p:nth-child(3) {
    font-size: 1.3rem;

}

.arrow_bg {
    position: absolute;
    left: 3px;
    top: 15.5rem;
    z-index: -1;
}

.arrow_bg>img {
    width: 100%;
}

.arrow_bg>h1 {
    position: absolute;
    top: 6rem;
    right: 14%;
    color: #116486;
    font-size: 3.5rem;
}

.arrow_bg>h2 {
    position: absolute;
    top: 5rem;
    right: -51%;
    color: #116486;
    font-size: 3.5rem;
}

.outer_element {
    margin-top: 5rem;
    margin-left: 29.5rem;
}

.outer_element_2 {
    margin-top: 4.5rem;
    margin-left: 29rem;
}

.logo-crousal {
    box-shadow: 1px 1px 5px 0px #adb5bd;
    height: 8rem;
    width: 95%;
    padding: 0 2rem;
    background: #eceef3;
    border-radius: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.impact_text {
    position: absolute;
    top: 27.5rem;
    left: 3rem;
}

.impact_text>img {
    width: 38.4rem;
}

.impact_text>h1 {
    font-size: 9rem;
    color: #e8eaf0;
    font-weight: 500;
    margin-bottom: 0;
}

.work_elemnets {
    height: 87vh;
    justify-content: space-between;
    width: 73%;
    display: flex;
    margin-left: auto;
    padding-top: 7%
}

.scroll_design {
    width: 0.1rem;
    height: 22rem;
    background: #116485;
    /* margin-left: 24.5%; */
    margin-top: 9.5%;
    position: relative;
}

.scroll_design_thumb {
    display: block;
    width: 0.6rem;
    top: 11%;
    left: -0.2rem;
    height: 4rem;
    position: absolute;
    z-index: 99;
    background: #116485;
    border-radius: 10rem;
}

.content_box {
    margin-left: 1.7rem;
    margin-top: 2rem;
}
.content_box > img{
    width: 2.5rem;
    margin-bottom: 1rem;
}

.content_box>h2 {
    font-weight: 300;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    color: #116486;
}

.content_box>h3 {

    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #606060;
}

.content_box>p {
    font-weight: 300;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #606060;
}

.Engage_us {
    background: url(../assets/img/Engage.png);
    width: 100%;
    height: 100vh;
    background-size: 101% 100%;
    background-repeat: no-repeat;
    display: flex;
}

.headiing_Enagaing {
    margin-left: auto;
    width: 89%;
    height: 67vh;
}

.headiing_Enagaing>h1 {
    color: white;
    font-size: 3.5rem;
    margin: auto 0;
    font-family: system-ui;
}

.Engage_element {
    background: white;
    margin-right: 2.5rem;
    height: auto;
    width: 12%;
  
    min-height: 17rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.Engage_element>h3 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: #196283;
}

.Engage_element_outer {
    display: flex;
    margin-top: 8rem;

}

.Engage_element_outer>img {
    width: 50%;
}

/* case study */
.case_study_bg {
    padding: 8rem 6rem;
    min-height: 100%;
    height: 100%;
    background: rgb(236, 238, 243);
    background: linear-gradient(90deg, rgba(236, 238, 243, 1) 0%, rgba(82, 95, 128, 1) 0%, rgba(132, 91, 103, 1) 100%);
}

.case_study_bg>h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.case_study_bg>p {
    font-size: 1.3rem;
    color: white;
    font-weight: lighter;
    opacity: 0.8;
}

.case_study>.container-fluid {
    margin-top: 27rem;
}

.case_study_outer {
    padding-left: 10rem;
}

/* gdpr */
.gdpr {
    position: relative;
    overflow: hidden;
}

.blue-part {
    background: #313d59;
    padding-left: 12.5rem;
    padding-bottom: 8.5rem;
    padding-top: 7rem;
}

.adjust_content {
    width: 57%;
}

.blue-part>.adjust_content>h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 4rem;
}

.stamp_box>img:first-child {
    width: 17%;
    margin-left: 0.6rem;
}

.stamp_box>img:nth-child(2) {
    width: 17%;
    margin-left: 1.6rem;
}

.stamp_box>img:nth-child(3) {
    width: 20%;
    margin-left: 15.6rem;
}

.white-part {
    padding-left: 12.5rem;
    padding-bottom: 5rem;
    padding-top: 8rem;
    background: white;
}

.white-part>h1:first-child {
    color: #116486;
    font-weight: 100;
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
}

.white-part>h1:nth-child(2) {
    color: #116486;
    font-weight: bold;
    margin-bottom: 4rem;
    font-size: 2.7rem;
}

.white-part>h1:nth-child(3) {
    color: #116486;
    font-weight: 400;
    font-size: 2.6rem;
}

.big-arrow {
    position: absolute;
    right: 0;
    display: contents;
}

.big-arrow>img:first-child {
    width: calc(100rem - 276px);
    right: -9rem;
    top: -8rem;
    position: absolute;
}

.big-arrow>img:nth-child(2) {
    width: 9.5rem;
    right: 14rem;
    top: 6rem;
    position: absolute;
}

.big-arrow>img:nth-child(3) {
    right: 7rem;
    top: 5rem;
    z-index: 999;
    position: absolute;
}

.big-arrow>h1 {
    position: absolute;
    color: white;
    font-size: 2rem;
    font-family: system-ui;
    opacity: 0.8;
    top: 45%;
    right: 15%;
    font-weight: lighter;
}

.Schedule_Now_btn {
    margin-top: 4rem;
    background: #0f5980ed;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    width: 16rem;
    font-weight: 100;
    margin-left: -0.5rem;
    padding: 1.2rem;
    border-radius: 9rem;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.Schedule_Now_btn:hover {
    transition: 0.3s ease-in;
    box-shadow: inset 18px -3px 19px 0px rgb(235 237 240 / 25%), inset -37px -12px 39px 0px rgb(217 92 47 / 68%), 1px 3px 4px 2px #6c757d7a;
    transform: translateY(-2px);
}

/* Automate your processes */

.automate_proc {
    background: url(../assets/img/automate-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 10rem;
    padding-top: 7rem;

}

.inside_text {
    padding-top: 6rem;
    padding-left: 12rem;
}

.inside_text>h6 {
    font-size: 1.4rem;
    color: #d97835;
    margin-bottom: 2rem;
}

.inside_text>h1 {
    font-size: 4rem;
    color: #116486;
    font-family: system-ui;
    font-weight: 400;
}

.inside_text>h2 {
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 4rem;
    color: black;
}

.inside_text>h3 {
    color: #116486;
    font-weight: 600;
    margin-top: 9rem;
    font-size: 2.5rem;
}

.automate_element {
    box-shadow: 1px 0px 7px #828c958f;
    flex-direction: column;
    background: white;
    display: flex;
    margin-right: 2rem;
    height: 13.5rem;
    filter: 1px 1px 1px 1px black;
    padding: 1rem 2rem;
    width: 14rem;
    border-radius: 15px;
    margin-top: 2.5rem;
    transform: translateY(0px);
    transition: 0.2s linear;
}

.automate_element:hover {
    transform: translateY(-7px);
    transition: 0.2s linear;
    cursor: pointer;
    box-shadow: 1px 4px 4px 2px #828c958f;

}

.automate_element>img {
    width: 2.5rem;
    margin-left: auto;
}

.automate_element>h3 {
    margin-top: auto;
    font-weight: 400;
    color: #116486;
    font-size: 1.6rem;
    font-family: system-ui;
}

.automate_element:nth-child(5) {
    box-shadow: 1px 0px 7px #828c9563;
    flex-direction: column;
    background: white;
    display: flex;
    margin-right: 2rem;
    height: 14.5rem;
    filter: 1px 1px 1px 1px black;
    padding: 1rem 2rem;
    width: 15rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

.automate_element:nth-child(6) {
    box-shadow: 1px 0px 7px #828c9563;
    flex-direction: column;
    background: white;
    display: flex;
    margin-right: 2rem;
    height: 14.5rem;
    filter: 1px 1px 1px 1px black;
    padding: 1rem 2rem;
    width: 15rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

.automate_element:nth-child(7) {
    box-shadow: 1px 0px 7px #828c9563;
    flex-direction: column;
    background: white;
    display: flex;
    margin-right: 2rem;
    height: 14.5rem;
    filter: 1px 1px 1px 1px black;
    padding: 1rem 2rem;
    width: 15rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

/* team us */
.arrow_bg_dark {
    position: absolute;
    left: 3px;
    top: 0%;
}

.arrow_bg_dark>img {
    width: 100%;
}

.arrow_bg_dark>h2 {
    position: absolute;
    top: 5rem;
    color: #116486;
    /* left: 48%; */
    font-size: 3.5rem;
    right: -12rem;
}

.team_img {
    background: url(../assets/img/team-bg.png);
    width: 100%;
    background-size: 100%;
    /* padding-left: 5rem; */
}

    
.team_img img {
    width: 70%;
    padding-top: 12rem !important;
}

footer {
    background: url(../assets/img/footer-11.png);
    width: 100%;
    background-size: 100% 114%;
    padding: 6rem 0 1rem 0;
    background-repeat: no-repeat;
    position: relative;
}

label {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 0.3rem;
}

.Copyright {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin-left: 0.3rem;
}

.address>img {
    height: fit-content;
}
.pc_outer{
    margin-left: auto;
    text-align: end;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.Privacy_Policy {
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    margin-right: 2rem;
    cursor: pointer;
}

.Cookies {
    text-align: end;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.logo-crousal>.owl-carousel .owl-item img {
    width: fit-content;
}

.logo-crousal>.owl-theme .owl-nav.disabled+.owl-dots {
    display: none;
}

.logo-crousal>.owl-carousel.owl-loaded {
    width: inherit;
}

/* Our Culturer*/
.Culturer_title {
    padding: 7rem 3rem 0rem 6rem;
    height: 100vh;
    width: 30%;
    background: rgb(200, 82, 64);
    background: linear-gradient(424deg, rgba(200, 82, 64, 1) 0%, rgba(49, 61, 89, 1) 81%);
}

.Culturer_title>h1 {
    color: white;
    font-weight: 400;
    font-size: 3.5rem;
    font-family: system-ui;
}

.Culturer_title>p {
    font-size: 1.2rem;
    color: white;
    margin-top: 2.5rem;
    opacity: 0.8;
    margin-left: 0.4rem;
    font-weight: 100;
}

.img-crousal_outer {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 25%;
}

.our_Culture {
    display: flex;
    position: relative;
    align-items: center;
}


.carousel-wrap {
    width: 100%;
    position: relative;
}

.carousel-wrap>.owl-carousel .owl-item img {
    width: 100%;
}

.carousel-wrap>.owl-carousel .item {
    margin: 0 18px 30px 18px;
    position: relative;
}

.item>p {
    font-size: 1.3rem;
    color: white;
    margin-top: 1rem;
    margin-left: 2rem;
}
.arow_dark{
    width: 71%;
}
/*  non tech */
.non-tech {
    background: url(../assets/img/Non-tech-bg.png);
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 7rem;
}

.non-tech>h1 span {
    font-size: 3.8rem;
    color: white;
    font-family: system-ui;
}

.non-tech>h1:first-child {
    font-size: 3rem;
    color: white;
    font-family: system-ui;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.non-tech>h1:nth-child(2) {
    font-size: 4.7rem;
    color: white;
    font-family: system-ui;
    font-weight: 100;

}

.non-tech>h1:nth-child(3) {
    font-size: 4.6rem;
    color: white;
    font-family: system-ui;
    font-weight: 100;
    padding-bottom: 1rem;
}

.non-tech>h1:nth-child(4) {
    font-size: 3.5rem;
    color: white;
    font-family: system-ui;
    font-weight: 100;
}

.non_tech_points {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.n_tech_box {
    text-align: left;
    width: 11rem;
    padding: 3rem 1rem 1rem 1.5rem;
    background: rgb(174, 75, 63);
    background: linear-gradient(147deg, rgba(174, 75, 63, 1) 0%, rgba(61, 54, 73, 1) 31%);
    margin-right: 3rem;
    border-radius: 10px;
    transition: 0.2s  ease-in-out;
    transform: rotate(0deg);
    cursor:pointer;
}

.n_tech_box:hover {
    transition: 0.3s ease-in-out;
    transform: rotate(4deg) translate(4px , -14px );
    filter: grayscale(1);
}

.n_tech_box>h1 {
    font-size: 1.6rem;
    font-weight: 100;
    font-family: system-ui;
    color: white;
}

.asking {
    display: flex;
    justify-content: center;
    padding: 8rem 0 3rem 0;
}

.asking>h1 {
    font-size: 4rem;
    color: white;
    font-family: system-ui;
    margin-right: 4rem;
    font-weight: 400;
}

.asking>span {
    display: block;
    padding: 1rem 4rem;
    background: white;
    font-size: 2.4rem;
    border-radius: 57px;
    color: #203651;
    font-weight: 500;
    font-family: system-ui;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.asking>span:hover{
    box-shadow: 1px 2px 4px 1px grey;
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
    background: linear-gradient(147deg, rgba(174, 75, 63, 1) 0%, rgba(61, 54, 73, 1) 31%);
    color: white;
    cursor: pointer;
}
.item-img{
    width: 100%;
}

.p_text h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

.p_text p {
    font-size: 1.3rem;
    margin: 0;
}
.p_text {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.heading_PP{
    background: linear-gradient(147deg, rgba(174, 75, 63, 1) 0%, rgba(61, 54, 73, 1) 31%);
    padding: 2rem 10.5%;
    margin-bottom: 2rem;
}

.heading_PP > h1 {
    color: white;
    font-weight: 100;
    font-size: 3.5rem;  
}

/* responsive */

/* mobile */
@media (min-width: 390px) and (max-width: 500px)  {
    html,body {
        font-size: 60.5% !important;
    
    }
    .heading_PP > h1 {
        color: white;
        font-weight: 100;
        font-size: 3rem;  
    }
    .pc_outer{
        margin-left: 0.3rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .item>h1{
        font-size: 2rem;
        left: 7%;
    }
    .next-btn{
        width: 3rem;
    }
    .item-img {
        width: 128% !important;
        height: 36vh;
    }
    .banner>.owl-theme .owl-nav {
        bottom: 15%;
        left: 2%;
    }
    .banner>.owl-theme .owl-dots .owl-dot.active span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots .owl-dot span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots {
        bottom: 0.5%;
        left: 5%;
    }
    .bulb-img>img {
        top: 9%;
        right: -7%;
        width: 28%;
    }
    .logo-crousal>.owl-carousel .owl-item img {
        width: 85%;
    }
    .logo-crousal{
        height: 6rem;
        padding: 0 1rem;
        margin-top: 1rem;
        width: 100%;
        box-shadow: 1px 1px 2px 0px #adb5bd;
    }
    arrow_bg {
        left: -17px;
        top: 11rem;
    }
    
    .arrow_bg > img{
        width:50% ;
    }
    .arrow_bg>h1 {
        left: 18%;
        top: 6rem;
    }
    
    .impact_text>img {
        width: 15.4rem;
    }
    .outer_element {
        display: block !important;
        margin-top: 20rem;
        margin-left: 4rem;
        flex-wrap: wrap;
    }

    .techQ {
        padding: 0.8rem 1.5rem;
        right: -2.5%;
        left: unset;
    }
    .techQ >a{
        font-size: 1rem;
    }
    .non_techQ {
        padding: 0.8rem 1.5rem;
        right: -3%;
        top: 53.5rem;
        left: unset;
    }
    .non_techQ > a{
        font-size: 1rem;
    }
    .impact_text {
        position: absolute;
        top: 49.5rem;
        right: 0rem;
        left: unset;
    }
    
    .impact_text>img {
        width: 19.4rem;
    }
    .content_box>h2 {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
    .content_box>h3 {
        font-size: 1.6rem;
    }
    .content_box>p {
        font-size: 1.4rem;
    }
    .outer_element_2 {
        margin-top: 4.5rem;
        display: block !important;
        margin-left: 4rem;
        flex-wrap: wrap;
    }
    .scroll_design_thumb {
        height: 3rem;
    }
    .scroll_design {
        height: 22rem;
    }
    .Engage_us {
        background: url(../assets/img/Engage.png);
        width: 100%;
        height: unset;
        background-size: unset;
        background-repeat: no-repeat;
    }
    
    .Engage_element {
        width: 42%;
        margin-bottom: 4rem;
    }
    .Engage_element_outer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17rem;
    }
    .headiing_Enagaing {
        margin-left: auto;
        width: 89%;
        height: 90vh;
        position: relative;
    }
    .Engage_element_outer>img {
        width: 111%;
        /* width: calc(100% - 665px); */
        position: absolute;
        top: 10%;
        left: -40px;
  }
  .arrow_bg>h2 {
    position: absolute;
    top: 4rem;
    right: -18%;
    color: #116486;
    font-size: 3.5rem;
}
.arrow_bg {
    position: absolute;
    left: 3px;
    top: 1.5rem;
    z-index: -1;
}
.arrow_dark{
    width: 90% !important;
}
.case_study>.container-fluid {
    margin-top: 19rem;
}
.case_study_outer{
    padding-left: 1rem;
    padding-right: 1rem !important;
}
.case_study_bg {
    padding: 3rem 2rem;
    overflow: visible;
    height: 60%;
   
}
.case_st_right{
    margin: 0 1rem;
    padding: 1.5rem 1rem 0rem 1rem;
}
.case_st_right>img{
    width: 85%;
}
.Culturer_title{
    padding: 2rem 3rem 0rem 3rem;
    height: 47rem;
    width: 100%;
}
.img-crousal_outer {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 21%;
}
.carousel-wrap>.owl-carousel .owl-item img {
    width: unset;
    max-height: 28rem;
}
.carousel-wrap>.owl-carousel .item {
    margin: 0 ;
    position: relative;
}
.blue-part {
    background: #313d59;
    padding-left: 2.5rem;
    padding-bottom: 8.5rem;
    padding-top: 5rem;
}
.adjust_content{
width: 100%;
}
.blue-part>.adjust_content>h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 4rem;
}
.big-arrow>h1 {
    position: relative;
    color: white;
    font-size: 1.8rem;
    opacity: 0.8;
    top: unset;
    right: unset;
    margin-top: 4rem;
    font-weight: lighter;
}
.stamp_box>img:first-child {
    width: 20%;
    margin-left: 0.6rem;
}
.stamp_box>img:nth-child(2) {
    width: 20%;
    margin-left: 1.6rem;
}
.stamp_box>img:nth-child(3) {
    width: 24%;
    margin-left: 5.6rem;
}
.big-arrow>img:nth-child(2) {
    width: 6.5rem;
    right: 5rem;
    top: 9rem;
    position: absolute;
}
.big-arrow>img:first-child {
    width: 62rem;
    right: -14rem;
    top: -8rem;
    position: absolute;
}
.white-part {
    padding-left: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-right: 2rem;
    background: white;
}
.white-part>h1:first-child {
    color: #116486;
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}
.big-arrow>img:nth-child(3) {
    right: 0;
    top: 2rem;
    position: absolute;
    opacity: 0.5;
    width: 19rem;
}
.white-part>h1:nth-child(2) {
    font-size: 2.4rem;
}
.white-part>h1:nth-child(3) {
    color: #116486;
    font-weight: 400;
    font-size: 2.3rem;
}
.team_img {
    background: url(../assets/img/team-bg.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: unset;
    margin-top: 12rem;
}
.team_img img {
    width: 100%;
    padding-top: 0rem !important;
}
.team{
height: unset;
}
.arrow_bg_dark {
    position: absolute;
    left: 3px;
    top: -10rem;
}
.arrow_bg_dark>img {
    width: 72%;
}
.arrow_bg_dark>h2 {
    position: absolute;
    top: 3rem;
    color: #116486;
    font-size: 3rem;
    right: 18%;
}

.Copyright {
    margin-left: 1rem;
}
.non-tech {
    background: url(../assets/img/Non-tech-bg.png);
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
}
.non-tech>h1:first-child {
    font-size: initial;
}
.non-tech>h1 span {
    font-size: 3rem;
}
.non-tech>h1:nth-child(2) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(3) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(4) {
    font-size: 1.5rem;
}
.non_tech_points {
 flex-wrap: wrap;
 padding: 6rem 0 3rem 0;
}
.n_tech_box{
    margin-bottom: 2rem;
    
}
.asking>h1 {
    font-size: 2.2rem;
    margin-right: 2rem;
}
.asking>span {
    padding: 1rem 2.2rem;
    font-size: 1.4rem;
}
.inside_text{
padding-right: 4rem;
    padding-left: 4rem
}
.inside_text>h1 {
    font-size: 3rem;
}
.inside_text>h2 {
    font-size: 2rem;
}
.inside_text>h3 {
margin-top: 5rem;
    font-size: 1.5rem;
}
.automate_element {
    height: 11.5rem;
    padding: 1rem 2rem;
    width: 12rem;
    margin-top: 2.5rem;
}
.automate_element>h3 {
    font-size: 1.4rem;
}
.automate_element>img{
    width: 2rem;
}
.automate_element:nth-child(5) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(6) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(7) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_proc {
    background-size: cover;
    height: auto;
    padding-bottom: 8rem;
}
.first_tech{
    width: 18.5%;
}
.first_tech>p:first-child {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
}
.first_tech>p:nth-child(2) {
    font-size: 1rem;
}
.first_tech img~p {
    font-size: 0.8rem;
}
.list_tech{
    margin-left: 0.3rem;
    margin-top: 3rem;
    width: 62%;
}
.list_tech>p {
    font-size: 1rem;
}
.busines-tech {
    margin-left: 0.3rem;
    width: 21%;
}
.busines-tech>p:first-child {
    font-size: 1rem;
}
.busines-tech>p:nth-child(2) {
    font-size: 1rem;
}
.busines-tech>p:nth-child(3) {
    font-size: 1rem;
}
}
@media (min-width: 360px) and (max-width: 389.99px)  {
    html,body {
        font-size: 56.5% !important;
    
    }
    .heading_PP > h1 {
        color: white;
        font-weight: 100;
        font-size: 3rem;  
    }
    .pc_outer{
        margin-left: 0.3rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .item>h1{
        font-size: 2rem;
        left: 7%;
    }
    .next-btn{
        width: 3rem;
    }
    .item-img {
        width: 128% !important;
        height: 36vh;
    }
    .banner>.owl-theme .owl-nav {
        bottom: 15%;
        left: 2%;
    }
    .banner>.owl-theme .owl-dots .owl-dot.active span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots .owl-dot span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots {
        bottom: 0.5%;
        left: 5%;
    }
    .bulb-img>img {
        top: 9%;
        right: -7%;
        width: 28%;
    }
    .logo-crousal>.owl-carousel .owl-item img {
        width: 85%;
    }
    .logo-crousal{
        height: 6rem;
        padding: 0 1rem;
        margin-top: 1rem;
        width: 100%;
        box-shadow: 1px 1px 2px 0px #adb5bd;
    }
    arrow_bg {
        left: -17px;
        top: 11rem;
    }
    
    .arrow_bg > img{
        width:50% ;
    }
    .arrow_bg>h1 {
        left: 18%;
        top: 6rem;
    }
    
    .impact_text>img {
        width: 15.4rem;
    }
    .outer_element {
        display: block !important;
        margin-top: 20rem;
        margin-left: 4rem;
        flex-wrap: wrap;
    }

    .techQ {
        padding: 0.8rem 1.5rem;
        right: -2.5%;
        left: unset;
    }
    .techQ >a{
        font-size: 1rem;
    }
    .non_techQ {
        padding: 0.8rem 1.5rem;
        right: -3%;
        top: 53.5rem;
        left: unset;
    }
    .non_techQ > a{
        font-size: 1rem;
    }
    .impact_text {
        position: absolute;
        top: 49.5rem;
        right: 0rem;
        left: unset;
    }
    
    .impact_text>img {
        width: 19.4rem;
    }
    .content_box>h2 {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
    .content_box>h3 {
        font-size: 1.6rem;
    }
    .content_box>p {
        font-size: 1.4rem;
    }
    .outer_element_2 {
        margin-top: 4.5rem;
        display: block !important;
        margin-left: 4rem;
        flex-wrap: wrap;
    }
    .scroll_design_thumb {
        height: 3rem;
    }
    .scroll_design {
        height: 22rem;
    }
    .Engage_us {
        background: url(../assets/img/Engage.png);
        width: 100%;
        height: unset;
        background-size: unset;
        background-repeat: no-repeat;
    }
    
    .Engage_element {
        width: 42%;
        margin-bottom: 4rem;
    }
    .Engage_element_outer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17rem;
    }
    .headiing_Enagaing {
        margin-left: auto;
        width: 89%;
        height: 90vh;
        position: relative;
    }
    .Engage_element_outer>img {
        width: 111%;
        /* width: calc(100% - 665px); */
        position: absolute;
        top: 10%;
        left: -40px;
  }
  .arrow_bg>h2 {
    position: absolute;
    top: 4rem;
    right: -18%;
    color: #116486;
    font-size: 3.5rem;
}
.arrow_bg {
    position: absolute;
    left: 3px;
    top: 1.5rem;
    z-index: -1;
}
.arrow_dark{
    width: 90% !important;
}
.case_study>.container-fluid {
    margin-top: 19rem;
}
.case_study_outer{
    padding-left: 1rem;
    padding-right: 1rem !important;
}
.case_study_bg {
    padding: 3rem 2rem;
    overflow: visible;
    height: 60%;
   
}
.case_st_right{
    margin: 0 1rem;
    padding: 1.5rem 1rem 0rem 1rem;
}
.case_st_right>img{
    width: 85%;
}
.Culturer_title{
    padding: 2rem 3rem 0rem 3rem;
    height: 47rem;
    width: 100%;
}
.img-crousal_outer {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 21%;
}
.carousel-wrap>.owl-carousel .owl-item img {
    width: unset;
    max-height: 28rem;
}
.carousel-wrap>.owl-carousel .item {
    margin: 0 ;
    position: relative;
}
.blue-part {
    background: #313d59;
    padding-left: 2.5rem;
    padding-bottom: 8.5rem;
    padding-top: 5rem;
}
.adjust_content{
width: 100%;
}
.blue-part>.adjust_content>h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 4rem;
}
.big-arrow>h1 {
    position: relative;
    color: white;
    font-size: 1.8rem;
    opacity: 0.8;
    top: unset;
    right: unset;
    margin-top: 4rem;
    font-weight: lighter;
}
.stamp_box>img:first-child {
    width: 20%;
    margin-left: 0.6rem;
}
.stamp_box>img:nth-child(2) {
    width: 20%;
    margin-left: 1.6rem;
}
.stamp_box>img:nth-child(3) {
    width: 24%;
    margin-left: 5.6rem;
}
.big-arrow>img:nth-child(2) {
    width: 6.5rem;
    right: 5rem;
    top: 9rem;
    position: absolute;
}
.big-arrow>img:first-child {
    width: 62rem;
    right: -14rem;
    top: -8rem;
    position: absolute;
}
.white-part {
    padding-left: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-right: 2rem;
    background: white;
}
.white-part>h1:first-child {
    color: #116486;
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}
.big-arrow>img:nth-child(3) {
    right: 0;
    top: 2rem;
    position: absolute;
    opacity: 0.5;
    width: 19rem;
}
.white-part>h1:nth-child(2) {
    font-size: 2.4rem;
}
.white-part>h1:nth-child(3) {
    color: #116486;
    font-weight: 400;
    font-size: 2.3rem;
}
.team_img {
    background: url(../assets/img/team-bg.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: unset;
    margin-top: 12rem;
}
.team_img img {
    width: 100%;
    padding-top: 0rem !important;
}
.team{
height: unset;
}
.arrow_bg_dark {
    position: absolute;
    left: 3px;
    top: -10rem;
}
.arrow_bg_dark>img {
    width: 72%;
}
.arrow_bg_dark>h2 {
    position: absolute;
    top: 3rem;
    color: #116486;
    font-size: 3rem;
    right: 18%;
}

.Copyright {
    margin-left: 1rem;
}
.non-tech {
    background: url(../assets/img/Non-tech-bg.png);
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
}
.non-tech>h1:first-child {
    font-size: initial;
}
.non-tech>h1 span {
    font-size: 3rem;
}
.non-tech>h1:nth-child(2) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(3) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(4) {
    font-size: 1.5rem;
}
.non_tech_points {
 flex-wrap: wrap;
 padding: 6rem 0 3rem 0;
}
.n_tech_box{
    margin-bottom: 2rem;
    
}
.asking>h1 {
    font-size: 2.2rem;
    margin-right: 2rem;
}
.asking>span {
    padding: 1rem 2.2rem;
    font-size: 1.4rem;
}
.inside_text{
padding-right: 4rem;
    padding-left: 4rem
}
.inside_text>h1 {
    font-size: 3rem;
}
.inside_text>h2 {
    font-size: 2rem;
}
.inside_text>h3 {
margin-top: 5rem;
    font-size: 1.5rem;
}
.automate_element {
    height: 11.5rem;
    padding: 1rem 2rem;
    width: 12rem;
    margin-top: 2.5rem;
}
.automate_element>h3 {
    font-size: 1.4rem;
}
.automate_element>img{
    width: 2rem;
}
.automate_element:nth-child(5) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(6) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(7) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_proc {
    background-size: cover;
    height: auto;
    padding-bottom: 8rem;
}
.first_tech{
    width: 18.5%;
}
.first_tech>p:first-child {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
}
.first_tech>p:nth-child(2) {
    font-size: 1rem;
}
.first_tech img~p {
    font-size: 0.8rem;
}
.list_tech{
    margin-left: 0.3rem;
    margin-top: 3rem;
    width: 62%;
}
.list_tech>p {
    font-size: 1rem;
}
.busines-tech {
    margin-left: 0.3rem;
    width: 21%;
}
.busines-tech>p:first-child {
    font-size: 1rem;
}
.busines-tech>p:nth-child(2) {
    font-size: 1rem;
}
.busines-tech>p:nth-child(3) {
    font-size: 1rem;
}
}
@media (min-width: 330px) and (max-width: 359.99px)  {
    html,body {
        font-size: 52.5% !important;
    
    }
    .heading_PP > h1 {
        color: white;
        font-weight: 100;
        font-size: 3rem;  
    }
    .pc_outer{
        margin-left: 0.3rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .item>h1{
        font-size: 2rem;
        left: 7%;
    }
    .next-btn{
        width: 3rem;
    }
    .item-img {
        width: 128% !important;
        height: 36vh;
    }
    .banner>.owl-theme .owl-nav {
        bottom: 15%;
        left: 2%;
    }
    .banner>.owl-theme .owl-dots .owl-dot.active span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots .owl-dot span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots {
        bottom: 0.5%;
        left: 5%;
    }
    .bulb-img>img {
        top: 9%;
        right: -7%;
        width: 28%;
    }
    .logo-crousal>.owl-carousel .owl-item img {
        width: 85%;
    }
    .logo-crousal{
        height: 6rem;
        padding: 0 1rem;
        margin-top: 1rem;
        width: 100%;
        box-shadow: 1px 1px 2px 0px #adb5bd;
    }
    arrow_bg {
        left: -17px;
        top: 11rem;
    }
    
    .arrow_bg > img{
        width:50% ;
    }
    .arrow_bg>h1 {
        left: 18%;
        top: 6rem;
    }
    
    .impact_text>img {
        width: 15.4rem;
    }
    .outer_element {
        display: block !important;
        margin-top: 20rem;
        margin-left: 4rem;
        flex-wrap: wrap;
    }

    .techQ {
        padding: 0.8rem 1.5rem;
        right: -2.5%;
        left: unset;
    }
    .techQ >a{
        font-size: 1rem;
    }
    .non_techQ {
        padding: 0.8rem 1.5rem;
        right: -3%;
        top: 53.5rem;
        left: unset;
    }
    .non_techQ > a{
        font-size: 1rem;
    }
    .impact_text {
        position: absolute;
        top: 49.5rem;
        right: 0rem;
        left: unset;
    }
    
    .impact_text>img {
        width: 19.4rem;
    }
    .content_box>h2 {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
    .content_box>h3 {
        font-size: 1.6rem;
    }
    .content_box>p {
        font-size: 1.4rem;
    }
    .outer_element_2 {
        margin-top: 4.5rem;
        display: block !important;
        margin-left: 4rem;
        flex-wrap: wrap;
    }
    .scroll_design_thumb {
        height: 3rem;
    }
    .scroll_design {
        height: 22rem;
    }
    .Engage_us {
        background: url(../assets/img/Engage.png);
        width: 100%;
        height: unset;
        background-size: unset;
        background-repeat: no-repeat;
    }
    
    .Engage_element {
        width: 42%;
        margin-bottom: 4rem;
    }
    .Engage_element_outer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17rem;
    }
    .headiing_Enagaing {
        margin-left: auto;
        width: 89%;
        height: 90vh;
        position: relative;
    }
    .Engage_element_outer>img {
        width: 111%;
        /* width: calc(100% - 665px); */
        position: absolute;
        top: 10%;
        left: -40px;
  }
  .arrow_bg>h2 {
    position: absolute;
    top: 4rem;
    right: -18%;
    color: #116486;
    font-size: 3.5rem;
}
.arrow_bg {
    position: absolute;
    left: 3px;
    top: 1.5rem;
    z-index: -1;
}
.arrow_dark{
    width: 90% !important;
}
.case_study>.container-fluid {
    margin-top: 19rem;
}
.case_study_outer{
    padding-left: 1rem;
    padding-right: 1rem !important;
}
.case_study_bg {
    padding: 3rem 2rem;
    overflow: visible;
    height: 60%;
   
}
.case_st_right{
    margin: 0 1rem;
    padding: 1.5rem 1rem 0rem 1rem;
}
.case_st_right>img{
    width: 85%;
}
.Culturer_title{
    padding: 2rem 3rem 0rem 3rem;
    height: 47rem;
    width: 100%;
}
.img-crousal_outer {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 21%;
}
.carousel-wrap>.owl-carousel .owl-item img {
    width: unset;
    max-height: 28rem;
}
.carousel-wrap>.owl-carousel .item {
    margin: 0 ;
    position: relative;
}
.blue-part {
    background: #313d59;
    padding-left: 2.5rem;
    padding-bottom: 8.5rem;
    padding-top: 5rem;
}
.adjust_content{
width: 100%;
}
.blue-part>.adjust_content>h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 4rem;
}
.big-arrow>h1 {
    position: relative;
    color: white;
    font-size: 1.8rem;
    opacity: 0.8;
    top: unset;
    right: unset;
    margin-top: 4rem;
    font-weight: lighter;
}
.stamp_box>img:first-child {
    width: 20%;
    margin-left: 0.6rem;
}
.stamp_box>img:nth-child(2) {
    width: 20%;
    margin-left: 1.6rem;
}
.stamp_box>img:nth-child(3) {
    width: 24%;
    margin-left: 5.6rem;
}
.big-arrow>img:nth-child(2) {
    width: 6.5rem;
    right: 5rem;
    top: 9rem;
    position: absolute;
}
.big-arrow>img:first-child {
    width: 62rem;
    right: -14rem;
    top: -8rem;
    position: absolute;
}
.white-part {
    padding-left: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-right: 2rem;
    background: white;
}
.white-part>h1:first-child {
    color: #116486;
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}
.big-arrow>img:nth-child(3) {
    right: 0;
    top: 2rem;
    position: absolute;
    opacity: 0.5;
    width: 19rem;
}
.white-part>h1:nth-child(2) {
    font-size: 2.4rem;
}
.white-part>h1:nth-child(3) {
    color: #116486;
    font-weight: 400;
    font-size: 2.3rem;
}
.team_img {
    background: url(../assets/img/team-bg.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: unset;
    margin-top: 12rem;
}
.team_img img {
    width: 100%;
    padding-top: 0rem !important;
}
.team{
height: unset;
}
.arrow_bg_dark {
    position: absolute;
    left: 3px;
    top: -10rem;
}
.arrow_bg_dark>img {
    width: 72%;
}
.arrow_bg_dark>h2 {
    position: absolute;
    top: 3rem;
    color: #116486;
    font-size: 3rem;
    right: 18%;
}

.Copyright {
    margin-left: 1rem;
}
.non-tech {
    background: url(../assets/img/Non-tech-bg.png);
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
}
.non-tech>h1:first-child {
    font-size: initial;
}
.non-tech>h1 span {
    font-size: 3rem;
}
.non-tech>h1:nth-child(2) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(3) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(4) {
    font-size: 1.5rem;
}
.non_tech_points {
 flex-wrap: wrap;
 padding: 6rem 0 3rem 0;
}
.n_tech_box{
    margin-bottom: 2rem;
    
}
.asking>h1 {
    font-size: 2.2rem;
    margin-right: 2rem;
}
.asking>span {
    padding: 1rem 2.2rem;
    font-size: 1.4rem;
}
.inside_text{
padding-right: 4rem;
    padding-left: 4rem
}
.inside_text>h1 {
    font-size: 3rem;
}
.inside_text>h2 {
    font-size: 2rem;
}
.inside_text>h3 {
margin-top: 5rem;
    font-size: 1.5rem;
}
.automate_element {
    height: 11.5rem;
    padding: 1rem 2rem;
    width: 12rem;
    margin-top: 2.5rem;
}
.automate_element>h3 {
    font-size: 1.4rem;
}
.automate_element>img{
    width: 2rem;
}
.automate_element:nth-child(5) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(6) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(7) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_proc {
    background-size: cover;
    height: auto;
    padding-bottom: 8rem;
}
.first_tech{
    width: 18.5%;
}
.first_tech>p:first-child {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
}
.first_tech>p:nth-child(2) {
    font-size: 1rem;
}
.first_tech img~p {
    font-size: 0.8rem;
}
.list_tech{
    margin-left: 0.3rem;
    margin-top: 3rem;
    width: 62%;
}
.list_tech>p {
    font-size: 1rem;
}
.busines-tech {
    margin-left: 0.3rem;
    width: 21%;
}
.busines-tech>p:first-child {
    font-size: 1rem;
}
.busines-tech>p:nth-child(2) {
    font-size: 1rem;
}
.busines-tech>p:nth-child(3) {
    font-size: 1rem;
}
}
@media (min-width: 300px) and (max-width: 329.99px)  {
    html,body {
        font-size: 50% !important;
    
    }
    .heading_PP > h1 {
        color: white;
        font-weight: 100;
        font-size: 3rem;  
    }
    .pc_outer{
        margin-left: 0.3rem;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .item>h1{
        font-size: 2rem;
        left: 7%;
    }
    .next-btn{
        width: 3rem;
    }
    .item-img {
        width: 128% !important;
        height: 36vh;
    }
    .banner>.owl-theme .owl-nav {
        bottom: 15%;
        left: 2%;
    }
    .banner>.owl-theme .owl-dots .owl-dot.active span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots .owl-dot span{
        width: 8px;
        height: 8px;
    }
    .banner>.owl-theme .owl-dots {
        bottom: 0.5%;
        left: 5%;
    }
    .bulb-img>img {
        top: 9%;
        right: -7%;
        width: 28%;
    }
    .logo-crousal>.owl-carousel .owl-item img {
        width: 85%;
    }
    .logo-crousal{
        height: 6rem;
        padding: 0 1rem;
        margin-top: 1rem;
        width: 100%;
        box-shadow: 1px 1px 2px 0px #adb5bd;
    }
    arrow_bg {
        left: -17px;
        top: 11rem;
    }
    
    .arrow_bg > img{
        width:50% ;
    }
    .arrow_bg>h1 {
        left: 18%;
        top: 6rem;
    }
    
    .impact_text>img {
        width: 15.4rem;
    }
    .outer_element {
        display: block !important;
        margin-top: 20rem;
        margin-left: 4rem;
        flex-wrap: wrap;
    }

    .techQ {
        padding: 0.8rem 1.5rem;
        right: -2.5%;
        left: unset;
    }
    .techQ >a{
        font-size: 1rem;
    }
    .non_techQ {
        padding: 0.8rem 1.5rem;
        right: -3%;
        top: 53.5rem;
        left: unset;
    }
    .non_techQ > a{
        font-size: 1rem;
    }
    .impact_text {
        position: absolute;
        top: 49.5rem;
        right: 0rem;
        left: unset;
    }
    
    .impact_text>img {
        width: 19.4rem;
    }
    .content_box>h2 {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
    .content_box>h3 {
        font-size: 1.6rem;
    }
    .content_box>p {
        font-size: 1.4rem;
    }
    .outer_element_2 {
        margin-top: 4.5rem;
        display: block !important;
        margin-left: 4rem;
        flex-wrap: wrap;
    }
    .scroll_design_thumb {
        height: 3rem;
    }
    .scroll_design {
        height: 22rem;
    }
    .Engage_us {
        background: url(../assets/img/Engage.png);
        width: 100%;
        height: unset;
        background-size: unset;
        background-repeat: no-repeat;
    }
    
    .Engage_element {
        width: 42%;
        margin-bottom: 4rem;
    }
    .Engage_element_outer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17rem;
    }
    .headiing_Enagaing {
        margin-left: auto;
        width: 89%;
        height: 90vh;
        position: relative;
    }
    .Engage_element_outer>img {
        width: 111%;
        /* width: calc(100% - 665px); */
        position: absolute;
        top: 10%;
        left: -40px;
  }
  .arrow_bg>h2 {
    position: absolute;
    top: 4rem;
    right: -18%;
    color: #116486;
    font-size: 3.5rem;
}
.arrow_bg {
    position: absolute;
    left: 3px;
    top: 1.5rem;
    z-index: -1;
}
.arrow_dark{
    width: 90% !important;
}
.case_study>.container-fluid {
    margin-top: 19rem;
}
.case_study_outer{
    padding-left: 1rem;
    padding-right: 1rem !important;
}
.case_study_bg {
    padding: 3rem 2rem;
    overflow: visible;
    height: 60%;
   
}
.case_st_right{
    margin: 0 1rem;
    padding: 1.5rem 1rem 0rem 1rem;
}
.case_st_right>img{
    width: 85%;
}
.Culturer_title{
    padding: 2rem 3rem 0rem 3rem;
    height: 47rem;
    width: 100%;
}
.img-crousal_outer {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 21%;
}
.carousel-wrap>.owl-carousel .owl-item img {
    width: unset;
    max-height: 28rem;
}
.carousel-wrap>.owl-carousel .item {
    margin: 0 ;
    position: relative;
}
.blue-part {
    background: #313d59;
    padding-left: 2.5rem;
    padding-bottom: 8.5rem;
    padding-top: 5rem;
}
.adjust_content{
width: 100%;
}
.blue-part>.adjust_content>h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 4rem;
}
.big-arrow>h1 {
    position: relative;
    color: white;
    font-size: 1.8rem;
    opacity: 0.8;
    top: unset;
    right: unset;
    margin-top: 4rem;
    font-weight: lighter;
}
.stamp_box>img:first-child {
    width: 20%;
    margin-left: 0.6rem;
}
.stamp_box>img:nth-child(2) {
    width: 20%;
    margin-left: 1.6rem;
}
.stamp_box>img:nth-child(3) {
    width: 24%;
    margin-left: 5.6rem;
}
.big-arrow>img:nth-child(2) {
    width: 6.5rem;
    right: 5rem;
    top: 9rem;
    position: absolute;
}
.big-arrow>img:first-child {
    width: 62rem;
    right: -14rem;
    top: -8rem;
    position: absolute;
}
.white-part {
    padding-left: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-right: 2rem;
    background: white;
}
.white-part>h1:first-child {
    color: #116486;
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}
.big-arrow>img:nth-child(3) {
    right: 0;
    top: 2rem;
    position: absolute;
    opacity: 0.5;
    width: 19rem;
}
.white-part>h1:nth-child(2) {
    font-size: 2.4rem;
}
.white-part>h1:nth-child(3) {
    color: #116486;
    font-weight: 400;
    font-size: 2.3rem;
}
.team_img {
    background: url(../assets/img/team-bg.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: unset;
    margin-top: 12rem;
}
.team_img img {
    width: 100%;
    padding-top: 0rem !important;
}
.team{
height: unset;
}
.arrow_bg_dark {
    position: absolute;
    left: 3px;
    top: -10rem;
}
.arrow_bg_dark>img {
    width: 72%;
}
.arrow_bg_dark>h2 {
    position: absolute;
    top: 3rem;
    color: #116486;
    font-size: 3rem;
    right: 18%;
}

.Copyright {
    margin-left: 1rem;
}
.non-tech {
    background: url(../assets/img/Non-tech-bg.png);
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
}
.non-tech>h1:first-child {
    font-size: initial;
}
.non-tech>h1 span {
    font-size: 3rem;
}
.non-tech>h1:nth-child(2) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(3) {
    font-size: 2.2rem;
}
.non-tech>h1:nth-child(4) {
    font-size: 1.5rem;
}
.non_tech_points {
 flex-wrap: wrap;
 padding: 6rem 0 3rem 0;
}
.n_tech_box{
    margin-bottom: 2rem;
    
}
.asking>h1 {
    font-size: 2.2rem;
    margin-right: 2rem;
}
.asking>span {
    padding: 1rem 2.2rem;
    font-size: 1.4rem;
}
.inside_text{
padding-right: 4rem;
    padding-left: 4rem
}
.inside_text>h1 {
    font-size: 3rem;
}
.inside_text>h2 {
    font-size: 2rem;
}
.inside_text>h3 {
margin-top: 5rem;
    font-size: 1.5rem;
}
.automate_element {
    height: 11.5rem;
    padding: 1rem 2rem;
    width: 12rem;
    margin-top: 2.5rem;
}
.automate_element>h3 {
    font-size: 1.4rem;
}
.automate_element>img{
    width: 2rem;
}
.automate_element:nth-child(5) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(6) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_element:nth-child(7) {
    width: 12.5rem;
    height: 12.5rem;
}
.automate_proc {
    background-size: cover;
    height: auto;
    padding-bottom: 8rem;
}
.first_tech{
    width: 18.5%;
}
.first_tech>p:first-child {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
}
.first_tech>p:nth-child(2) {
    font-size: 1rem;
}
.first_tech img~p {
    font-size: 0.8rem;
}
.list_tech{
    margin-left: 0.3rem;
    margin-top: 3rem;
    width: 62%;
}
.list_tech>p {
    font-size: 1rem;
}
.busines-tech {
    margin-left: 0.3rem;
    width: 21%;
}
.busines-tech>p:first-child {
    font-size: 1rem;
}
.busines-tech>p:nth-child(2) {
    font-size: 1rem;
}
.busines-tech>p:nth-child(3) {
    font-size: 1rem;
}
}
